<template name="components_multiplyContract">
<div class="panel panel-primary">
<!-- Default panel contents -->
        <div class="panel-heading">License Event Monitor</div>
        <div class="panel-body">
                <table class="table table-striped">
                        <thead>
                                <tr>
                                        <th>Date</th>
                                        <th>DB name</th>
                                        <th>Table name</th>
					<th>Primary key name</th>
					<th>Primary key value</th>
                                        <th>blockNumber</th>
                                        <th>transactionHash</th>
                                </tr>
                        </thead>
                        <tbody>
                                {{#each licenseevent}}
                                        {{> licenseeventItem}}
                                {{/each}}
                        </tbody>
                </table>
        </div>
</div>
</template>
